<!DOCTYPE html>
<html>
<head>
  <title>Christine's Web Practical</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav class="navbar">
    <div class="navbar-inner">
      <a href="http://www.reeliolabs.com/" class="brand">Reelio</a>
      <ul class="nav">
        <li><a href="#">Notifications</a></li>
        <li class="profile-image"><%= image_tag "Nick_Fury.jpg", alt: "Profile Image" %></li>
        <li><a href="#">nick.fury@shield.gov</a></li>
      </ul>
    </div>
  </nav>
  <!-- would include drop down menu for when the user clicks on the account email -->
  <%= yield %>
</div>
</body>
</html>
